:root{
  --bianco: white;
  --bootstrapblue: #2C3E50;
}

/* header */
header{
  background-color:var(--bootstrapblue);
}
.barra-superiore{
  height: 80px;
}
header h2{
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
header a{
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  margin: 0px 20px;
}
/* header */
/* jumbotron   */
.my-jumbotron{
  height: 350px;
  background-color: #1ABC9C;
}
.my-jumbotron img{
  width: 150px;
}
.my-jumbotron h2{
  font-weight: 600;
  font-size: 2rem;
  color: var(--bianco);
  text-transform: uppercase;
}
.star i{
  color: white;
  font-size: 1.5rem;
}
.burger-m{
  padding: 0px 13px;
  color: #888888;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  font-size: 1.5rem;
}
.star .barra{
  margin: 10px 10px;
  height: 3px;
  width: 5vw;
  background-color: white;
}
.my-jumbotron h5{
  text
}
/* jumbotron   */

.portfolio{
  background-color: rgb(160, 107, 43);
}
.cards{
  background-color: rgb(92, 8, 90);
  border: 1px solid white;
}
.cards img{
  width: 100%;
  object-fit: cover;
}
.my-py{
  padding-top: 10px;
  padding-bottom: 70px;
}

.sc-container{
  width: 60%;
  margin: 0 auto;
}
/* Contact */
.ms-form input, .ms-form textarea{
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.ms-form input::placeholder, 
.ms-form textarea::placeholder{
  color: var(--bootstrapblue);
}

.ms-form button{
  background: #1ABC9C;
  border: none;
  
}

.ms-form input:focus,
.ms-form textarea:focus{
  box-shadow: 0 1px 0 0 rgba(13,110,253,.25);
}
/* Contact */

.info-social{
  background-color: darkmagenta;
}
.s