.debug{
  background-color: rgba(137, 43, 226, 0.422);
  border: 1px solid black;
}



.barra-superiore{
  height: 80px;
  
  /* align-items: centerq; */
}

.my-jumbotron{
  height: 300px;
  background-color: #1ABC9C;
}

.portfolio{
  background-color: rgb(160, 107, 43);
}
.max-width{
  max-width: 900px;
}
.cards{
  background-color: rgb(92, 8, 90);
  border: 1px solid white;
}
.cards img{
  width: 100%;
  object-fit: cover;
}
.my-py{
  padding-top: 10px;
  padding-bottom: 70px;
}

.info-social{
  background-color: darkmagenta;
}