:root{
  --bianco: white;
  --bootstrapblue: #2C3E50;
}

/* header */
header{
  background-color:var(--bootstrapblue);
}
.barra-superiore{
  height: 80px;
}
header h2{
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
header a{
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  margin: 0px 20px;
}
/* header */
/* jumbotron   */
.my-jumbotron{
  height: 350px;
  background-color: #1ABC9C;
}
.my-jumbotron img{
  width: 150px;
}
.my-jumbotron h2{
  font-weight: 600;
  font-size: 2rem;
  color: var(--bianco);
  text-transform: uppercase;
}
.star{
  margin: 15px 0;
}
.star i{
  color: white;
  font-size: 1.5rem;
}
.burger-m{
  padding: 0px 13px;
  color: #888888;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  font-size: 1.5rem;
}
.star .barra{
  margin: 10px 10px;
  height: 3px;
  width: 5vw;
  background-color: white;
}
.my-jumbotron h5{
  font-size: 1.2rem;
  color: var(--bianco);
  font-weight: 600;
}
/* jumbotron   */
/* portfolio */
.portfolio{
  color: var(--bootstrapblue);
}
.portfolio h2{
  margin: 30px 0;
  font: 1.5rem;
  font-weight: 600;
}
.portfolio .star .barra{
  background-color: var(--bootstrapblue);
}
.portfolio .star span i{
  color: var(--bootstrapblue);
}
.row .col .cards{
  border-radius: 100px;
}
.cards img{
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}
/* \\portfolio */
/* about */
#about{
  background-color: #1ABC9C;
  color: var(--bianco);
  font-weight: 500;
  padding-bottom: 50px;
  }
.sc-container{
  width: 60%;
  margin: 0 auto;
}
#about h2{
  color: var(--bianco);
  padding-top: 30px;
  font: 1.5rem;
  font-weight: 600;
}
.button{
  margin-top: 55px;
}
.button a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 5px;
}

/* \\about */
/* Contact */
#contact-me h2{
  color: var(--bootstrapblue);
  font: 1.5rem;
  font-weight: 600;
}
#contact-me .star .barra{
  background-color: var(--bootstrapblue);
}
#contact-me .star span i{
  color: #3A546D;
}
.ms-form input, .ms-form textarea{
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.ms-form input::placeholder, 
.ms-form textarea::placeholder{
  color: var(--bootstrapblue);
}

.ms-form button{
  background: #1ABC9C;
  border: none;
  
}

.ms-form input:focus,
.ms-form textarea:focus{
  box-shadow: 0 1px 0 0 rgba(13,110,253,.25);
}
/* Contact */
/* footer  */
.info-social{
  color: var(--bianco);
  padding: 30px;
  background-color:#3A546D;
}
.info-social h5{
  text-transform: uppercase;
}
.info-social span{
  text-transform: capitalize;
}
.info-social a{
  text-decoration: none;
  color: #1CB89A;
}
.social i{
  font-size: 1rem;
  padding: 13px;
  margin: 0px 3px;
  border: 1px solid white;
  border-radius: 100%;
}
.copyright{
  padding: 30px;
  color: var(--bianco);
  background-color: var(--bootstrapblue);
}